* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('https://img.freepik.com/free-vector/watercolour-abstract-background_1048-9210.jpg?size=626&ext=jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.myFlexBox {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 30px;
}

.score-question {
    align-self: center;
}

.logo {
    width: 300px;
    height: 200px;
}

li {
    display: inline-block;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

main {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 420px;
    max-height: 580px;
    padding: 20px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    background: rgba(248, 248, 246, 0.7);
    background-size: contain;
}

img {
    max-width: 100%;
    height: auto;
}

.quizDiv {
    display: block;
    text-align: center;
}

fieldset {
    border: none;
    max-width: 100%;
}

button {
    padding: 20px;
    background: rgba(131, 63, 191, 0.4);
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    border-radius: 20px;
}

button:hover {
    background: rgba(63, 191, 67, 0.4);
}


/*insert media queries here */

@media screen and (min-width: 320px) and (max-width: 768px) {
    .myFlexBox {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .imgBox {
        display: block;
        margin: 0 auto;
    }
    li {
        display: inline-block;
    }
    .quizForm {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}