                .logo {
                    padding: 30px;
                    width: 100px;
                    height: 100px;
                }
                
                nav {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    float: right;
                }
                
                li {
                    display: inline-block;
                    padding: 30px;
                }
                
                main {
                    text-align: center;
                    width: 100%;
                }
                
                .question,
                .questionForm {
                    border: 1px black solid;
                    height: 40px;
                    margin: 10px 250px 10px 250px;
                }
                /*insert media queries here */
                
                @media screen and (min-width: 320px) and (max-width: 768px) {
                    .logo {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .navbar {
                        float: none;
                        width: 100%;
                        text-align: center;
                    }
                    .question,
                    .questionForm {
                        height: 100px;
                        width: 300px;
                        margin: 30px auto;
                        text-align: center;
                        padding: 10px;
                    }
                }